.page__main {
    width: 90%;
    margin: 0 auto;
}

.search__container {
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 10px;
}

.search__input {
    flex: 1;
    display: inline-block;
    align-items: center;
    width: 80%;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid rgb(132, 133, 135);
    color: #000;
    font-size: 16px;
    background-color: #f2eded;
}

.search__button {
    cursor: pointer;
    background-color: #313133;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    width: 100px;
    font-size: 16px;
}

.content {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
}

.sidebar {
    flex: 0 0 250px;
}

.title__section {
    color: #a42c2c;
    font-family: "Allison", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
}

.product__container {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.product__title {
    color: rgb(236, 11, 11);
    font-size: 12px;
    font-family: "Poiret One", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.product__price {
    font-size: 16px;
    font-weight: bold;
}

.shop__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 250px;
    flex-shrink: 0;
    top: 20px;
}

.product__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    list-style: none;
    align-items: stretch;
}

.product__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    border: 1px #b7b6b6;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
    position: relative;
    box-sizing: border-box;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
}

.product__image {
    width: 150px;
    height: 200px;
    object-fit: contain;
    border-radius: 8px;
    margin-bottom: 10px;
}

.no__results {
    color: rgb(10, 10, 10);
    font-weight: bold;
    padding: 1rem;
}

.product__btn {
    background-color: #000;
    color: #fff;
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 14px;
    margin-top: auto;
}


.cart__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    list-style: none;
    align-items: stretch;
}

.cart__image {
    width: 50px;
    height: 100px;
    object-fit: contain;
    border-radius: 8px;
    margin-bottom: 10px;
}

.item__title {
    color: rgb(236, 11, 11);
    font-size: 12px;
    font-family: "Poiret One", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.item__price {
    font-size: 10px;
    font-weight: bold;
}

.cart__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    border: 1px #b7b6b6;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
    position: relative;
    box-sizing: border-box;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
}

.product__btn.in-cart {
    background-color: #a42c2c;
}

.empty__cart {
    color: rgb(12, 12, 12);
    font-size: 16px;
    font-family: "Poiret One", sans-serif;
    font-weight: 900;
    font-style: normal;
    list-style: none;
}

.remove__btn {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: transparent;
    border-radius: 50%;
    color: rgb(12, 12, 12);
    font-size: 16px;
    cursor: pointer;
    margin-left: 8px;
    width: 30px;
    height: 30px;
    background-color: rgb(221, 211, 222);
    border: 4px solid white;
}

.remove__btn:hover {
    color: darkred;
}

.empty__cart-btn {
    background-color: #cf4b4b;
    color: white;
    border: 2px;
    padding: 8px 12px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.empty__cart-btn:hover {
    background-color: #cc0000;
}